.carousel {
    height: 250px;
    background-color: aqua;
    width: auto;
}
#A {
    height: 250px;
    width: auto;
    text-align: center;
    background-color: blue;
}
#B {
    background-color: yellow;
    height: 250px;
}
.containerBox {
    border: 3px solid blue;
    height:200px;
    
}
.container-fluid {
    margin-top: 5% !important;
}


@media screen (max-width: 560px) {
    .nav {
        float: right !important;
    }
    
}