.carousel {
    height: 250px;
    background-color: aqua;
    width: auto;
}
#A {
    height: 250px;
    width: auto;
    text-align: center;
    background-color: blue;
}
#B {
    background-color: yellow;
    height: 250px;
}